/* 添加以下样式 */
#spectraPlot {
    width: 100%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.fixed-bottom {
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
}

.list-group-item.active {
    z-index: auto; /* 修复bootstrap选中样式 */
}
